:root {
  overflow-x: hidden;
  background-color: rgba(255, 213, 1, 0.08);
  font-family: Arial, Geneva, sans-serif;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: 0 none;
  padding: 0;
}

button:focus, button:active {
  outline: 0 none;
}
