.tracks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.track {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;
}

.track a {
  text-align: center;
}
